legend {
  width: 60vw;
  float: none;

  @media (min-width: $small-devices) {
    width: 50vw;
  }
  @media (min-width: $medium-devices) {
     width: 40vw;
  }
  @media (min-width: $large-devices) {
    width: 30vw;
  }
  @media (min-width: $extra-large-devices) {
  }
}

.alerts {
  margin: 1rem 0 3rem;
  text-align: center;
  color: $grey-9;
  padding: 2rem 0;
  border: 2px solid $red;
  border-radius: 10px;

  @media (min-width: $small-devices) {
    font-size: 1.25rem;
  }

  &__heading {
    color: $red;
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 600;

    &--icon {
      margin-top: -1rem;
      width: 3rem;
      height: 3rem;
    }
  }

  &__body,
  &__header {
    display: grid;
    grid-template-columns: 1fr;

    &:nth-child(odd) {
      background-color: $grey-1;
    }
  }

  &__header {
    font-weight: 600;
  }

  &__button {
    text-decoration: none;
    border: 2px solid $red;
    border-radius: 10px;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: $red;
    background: transparent;
    margin-bottom: 0.5rem;
    transition: all ease 0.25s;

    &:hover {
      color: $white;
      background-color: $red;
    }

    span {
      margin-left: 0.5rem;
    }
  }

  &__title {
    color: $red;
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 0.5rem;

    svg {
      width: 50px;
      height: 50px;
      margin-top: -10px;
    }
  }

  &__date {
    font-size: 1.25rem;
    font-weight: 600;
    padding-top: 0.5rem;
  }
  &__desc {
    line-height: 1.75rem;
    padding: 0 2.5rem 0;
    text-align: justify;
  }

  &__date--false,
  &__desc--false,
  &__icon--false {
    display: none;
  }

  &__date--true,
  &__desc--true,
  &__icon--true {
    display: block;
  }
}