.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__add {
    width: 728px;
    height: 90px;
    background-image: url('https://images.unsplash.com/photo-1581093683496-7d03189c8291?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80');
    background-position: center;
  }
}