.post-page {
  margin-bottom: 5rem;

  &__desc {

    p {
      text-align: justify;
      letter-spacing: 1px;
      line-height: 2rem;
      font-size: 1.25rem;
    }
  }
  &__heading {
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    line-height: 2rem;
    font-size: 1.25rem;

    @media (min-width: $small-devices) {
      text-align: justify;
      line-height: 2.5rem;
      font-size: 1.5rem;
    }
  }
}