.weather-data {
  text-align: center;

  &__form {}
  &__input {
    display: none;
  }
  &__button {
    border: none;
    padding: 0;
    font-size: 2.5rem;

    &:hover {
      animation: roll 2.5s infinite;
    }
  }

  @keyframes roll {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  &__tagline {
    color: $red;
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 600;
  }
  &__location {
    // margin-right: 0.5rem;
  }
  &__city {
    margin-left: 0.5rem;
  }

  &__time {

    svg {
      color: $orange;
      width: 3rem;
      height: 3rem;
      margin-top: -0.3rem;
    }

  }

  &__box {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // flex-wrap: nowrap;
    // align-content: stretch;
    // align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding-bottom: 2.5rem;

    @media (min-width: $small-devices) {
    }

    @media (min-width: $medium-devices) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: $large-devices) {}

    @media (min-width: $extra-large-devices) {}
  }

  &__property {
    margin: 0 0.25rem;

    @media (min-width: $large-devices) {
      margin: 0 1rem;
    }

    @media (min-width: $extra-large-devices) {
      margin: 0 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__description {
    font-size: 1.25rem;
    line-height: 3rem;
    text-transform: lowercase;
    font-weight: 600;
    letter-spacing: 1px;

    svg {
      color: $blue;
      font-size: 3rem;
      margin-top: -0.35rem;
    }

    @media (min-width: $extra-large-devices) {
      font-size: 1.5rem;
    }
  }

  &__title {
    font-size: 1rem;
    line-height: 2.5rem;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 1px;
  }

  &__value {
    font-size: 3rem;
    line-height: 0.8;
    color: $red;

    @media (min-width: $large-devices) {
      font-size: 3.5rem;
    }
    @media (min-width: $extra-large-devices) {
      font-size: 4rem;
    }
  }

  &__value.weather-data__value--main {
    font-size: 5rem;
    line-height: 0.8;
    color: $red;

    @media (min-width: $large-devices) {
      font-size: 4rem;
    }

    @media (min-width: $extra-large-devices) {
      font-size: 5.5rem;
    }

    @media (min-width: $large-devices) {
      font-size: 6.5rem;
    }
  }

  &__minor-title {
    font-size: 1rem;
    text-transform: lowercase;
    font-weight: 600;
    letter-spacing: 1px;

    @media (min-width: $large-devices) {
      font-size: 1.25rem;
    }
  }

  &__minor-value {
    font-size: 1.25rem;
    font-weight: 600;

    @media (min-width: $large-devices) {
      font-size: 1.5rem;
    }
    @media (min-width: $extra-large-devices) {
      font-size: 1.75rem;
    }
  }

  &__sun {
    display: grid;
    grid-template-columns: 1fr;
    margin: 2rem 0;

    @media (min-width: $small-devices) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__border {
    width: 50%;
    height: 0.5rem;
    text-align: center;

    &--yellow {
      background: rgb(255, 183, 3);
      background: radial-gradient(circle, rgba(255, 183, 3, 1) 0%, rgba(255, 255, 255, 1) 100%);
    }
    &--light-blue {
      background: rgb(142, 202, 230);
      background: radial-gradient(circle, rgba(142, 202, 230, 1) 0%, rgba(255, 255, 255, 1) 100%);
    }
    &--blue {
      background: rgb(108, 117, 125);
      background: radial-gradient(circle, rgba(108, 117, 125, 1) 0%, rgba(255, 255, 255, 1) 100%);
    }
  }

  &__details {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

     @media (min-width: $medium-devices) {
        grid-template-columns: repeat(4, 1fr);
     }

     @media (min-width: $large-devices) {
     }
  }

  &__air {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media (min-width: $medium-devices) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: $extra-large-devices) {
      // grid-template-columns: repeat(8, 1fr);
    }
  }

  &__air-title {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;

    @media (min-width: $large-devices) {
      font-size: 1.25rem;
    }
  }

  &__air-value {
    font-size: 1.25rem;
    font-weight: 600;

    @media (min-width: $large-devices) {
      font-size: 1.5rem;
    }

    @media (min-width: $extra-large-devices) {
      font-size: 1.75rem;
    }
  }

  &__title svg {
    margin-top: -0.2rem;
    width: 2rem;
    height: 2rem;
    color: $orange;

    @media (min-width: $medium-devices) {
    }

    @media (min-width: $extra-large-devices) {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  &__icon {
    width: 4rem;
    height: 4rem;
    color: $grey-6;
  }

  &__icon--light-blue,
  &__icon--1 {
    color: $light-blue;
  }

  &__icon--blue,
  &__icon--2 {
    color: $blue;
  }

  &__icon--dark-blue {
    color: $dark-blue;
  }

  &__icon--yellow,
  &__icon--3 {
    color: $yellow;
  }

  &__icon--orange,
  &__icon--4 {
    color: $orange;
  }

  &__icon--red,
  &__icon--5 {
    color: $red;
  }
}

