@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-family: $main-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
  line-height: 1.7;
  color: $grey-9;
  background-color: $light-blue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 600;
  color: $grey-9;
  padding: 0.78rem 2rem;
  letter-spacing: 1px;
}

.btn {
  &--primary {
    background-color: $white;
    color: $orange;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0.78rem 2rem;
    letter-spacing: 1px;
    border: 2px solid $orange;
    border-radius: 10px;
    margin: 0.5rem;
    width: 70%;

    &:hover,
    &:active {
      background-color: $orange;
      color: white;
    }

    @media (min-width: $small-devices) {
      width: 70%;
      margin: 1rem;
      font-size: 1rem;
    }

    @media (min-width: $medium-devices) {
    }

    @media (min-width: $large-devices) {
      width: 50%;
      margin: 2rem;
      font-size: 1.25rem;
    }

    @media (min-width: $extra-large-devices) {
    }
  }

  &--secondary {
    color: $orange;
    font-weight: 600;
    line-height: 1.5rem;
    font-size: 1.25rem;
    letter-spacing: 1px;

    svg {
      color: transparent;
      transform: translateX(-1rem);
      transition: all 0.25s;
    }

    @media (hover: none) and (pointer: coarse) {
      color: $yellow;

      svg {
        animation: moveRight 2s infinite;
      }
    }

    &:hover,
    &:active {
      color: $yellow;

      svg {
        color: $yellow;
        transform: translateX(0);
      }
    }
  }

  @keyframes moveRight {
    0% {
      color: transparent;
      transform: translateX(-1rem);
    }
    50% {
      color: $yellow;
      transform: translateX(0);
    }
    100% {
      color: transparent;
      transform: translateX(1rem);
    }
  }
}